{% extends "base.html" %}
{% block title %} Login Page {% endblock %}


{% block content %}    

<div class="container mt-5 bg-light">
    <div class="container p-3" style="border: 1px solid black; border-radius: 5px;">
        <form action="/product/create/" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Select category</label>
                <select  name="categories" id="categories">
                    {% for i in cat %}
                    <option value="{{i[0]}}">{{i[1]}}</option>
                    {% endfor %}
                </select>
                
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Product Name</label>
                <input type="name" name="product_name" class="form-control" id="product_name" aria-describedby="" >
                
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" aria-label="With textarea"></textarea>
                
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control" id="amount" aria-describedby="" >
                
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Upload Product Image</label>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg"/>
                <!-- accept="image/png, image/jpeg" -->
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
</div>
<!-- <script>
    document.getElementById("demo").onclick = function() {send_product()}
    function send_product() {
        let xhr = new XMLHttpRequest();
            xhr.open("POST", "127.0.0.1:5000/product");

            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = () => console.log(xhr.responseText);
            let category = document.getElementById('category').value;
            let product_name = document.getElementById('product_name').value;
            let description = document.getElementById('description').value;
            let amount = document.getElementById('amount').value;
            let image = document.getElementById('image').value;
            
            let data = `{
                "Id": 78912,
                "Customer": "Jason Sweet",
            }`;

            xhr.send(data);
    }
  </script> -->
{% endblock %}


