{% extends "base.html" %}
{% block title %} Login Page {% endblock %}


{% block content %}    

<div class="container mt-5 bg-light">
        
  <div class="card mt-2 mb-2" style="width: 100%;">
    <img class="card-img-top" src="{{data['image_url']}}" alt="{{data['product_name']}}">
    <div class="card-body">
      <h2 class="card-title">{{data['product_name']}}</h2>
      <h3 class="card-title"><span style='font-size:20px;'>&#8377;</span>{{data['amount']}} <span><h5 >M.R.P.</h5></span> </h3>
      <p class="card-text">{{data['description']}}</p>
      <form action="" method="POST">
        <input type="name" name="product_id" class="form-control" id="" aria-describedby="" value="{{data['id']}}" readonly hidden>
        <button type="submit" id="submit" class="btn btn-primary btn-sm" style="border-radius: 50px;">Buy Now</button>
      </form>
      
    </div>
  </div>
    
</div>
<!-- <script>
    document.getElementById("demo").onclick = function() {send_product()}
    function send_product() {
        let xhr = new XMLHttpRequest();
            xhr.open("POST", "127.0.0.1:5000/product");

            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = () => console.log(xhr.responseText);
            let category = document.getElementById('category').value;
            let product_name = document.getElementById('product_name').value;
            let description = document.getElementById('description').value;
            let amount = document.getElementById('amount').value;
            let image = document.getElementById('image').value;
            
            let data = `{
                "Id": 78912,
                "Customer": "Jason Sweet",
            }`;

            xhr.send(data);
    }
  </script> -->
{% endblock %}


